/* CSS Document */

body, html {
	height: 100%;
	margin: 0;
}

#background {
	/* The image used */
	background-image: url("/images/background4.png");

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.mainpage {
	
}

#heading {
	position: fixed;
	text-align: center;
	vertical-align: central;
	width: 40%;
	left: 30%;
	color: #F82473;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 68px;
	font-style: normal;
	top: 3%;
}

#copyright {
	position: fixed;
	width: 50%;
	bottom: 10px;
	left: 10px;
}

.instruction {
	position: fixed;
	width: 50%;
	left: 25%;
	top: 57%;
	text-align: center;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	background: rgba(33, 52, 121, 0.7);
	color: rgb(255,224,51);
}

.footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
    width: 100%;
    height: 5%;
    color: black;
}

.lfooter {
	left: 5px;
	text-align: left;
}

.rfooter {
	right: 5px;
	text-align: right;
}

#canvas {
	z-index: -1;
	position: absolute;
	top:0;
	left:0;
	background-color: #FFFFFF;
	display: none;
}

.gamemode {
	display: inline-block;
	background:rgba(33, 52, 121, 0.7);
	transition: transform 1s;
	width: 220px;
	height: 340px;
	/* text-align: center; */
	line-height: 340px;
	font-size: 45px;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(255,224,51);
}

.gamemode:hover {
	-ms-transform: scale(1.05); /* IE 9 */
	-webkit-transform: scale(1.05); /* Safari 3-8 */
	transform: scale(1.05);
	cursor: pointer;
}

.menu-global {
	position: fixed;
	width: 20%;
	height:50%;
	top:20%;
	left:40%;
	display: none;
	background:rgba(0,0,0,0.6);
}

.advertisement {
	position: fixed;
	width: 40%;
	height:10%;
	top:70%;
	left:30%;
}

table {
	border-spacing: 20px;
	border-collapse: separate;
	width: 60%;
	/* margin: 0 auto; */
	position: absolute; /* or absolute */
	top: 20%;
	left: 20%;
	/* border: 1px solid black; */
}

.btn {
	background-color:#f9dda9;
	cursor:pointer;
	color:#ef027c;
	position: absolute;
	top: 85%;
	left: 22%;
	width:50%;
	height:5%;
	text-align: center;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:2% 3%;
	text-decoration:none;
}

.btn:active {
	top: 85.5%;
}

th {
	text-align: center;
}

input[type=text] {
	top: 15%;
	left: 40%;
	width: 20%;
	padding: 12px;
	position: absolute;
	display: inline-block;
	border: 1px solid #ccc;
	text-align: center;
	font-family:Arial;
	font-size:15px;
}

#results {
	text-align: center;
	font-family:Arial;
	font-size:50px;
	padding:4%;
}

#respawn {
	width: 280px;
	height: 70px;
	position: absolute;
	display: none;
	background: rgba(33, 52, 121, 0.7);
	color: rgb(255,224,51);
	font-size: 55px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
#respawn:hover {
	cursor: pointer;
}
